* {
  font-family: sans-serif;
}
body {
  background-color: #d6e0e9;
}
.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  margin: auto;
  padding-top: 20px;
}
h3.form-header {
  background: #d6e0e9;
  position: absolute;
  top: -4px;
  left: 35%;
  text-align: center;
  padding: 3px 10px;
}
form.contactForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 125px;
  margin: auto;
  flex-wrap: wrap;
  border: 1px solid;
  padding-top: 30px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
.icon {
  width: 60px;
  height: 60px;
  background-image: url("http://pluspng.com/img-png/email-icon-png-email-circle-icon-design-512.png");
  background-size: cover;
  position: absolute;
  top: 40px;
  left: 763px;
}
input[type="text"],
input[type="email"] {
  width: 200px;
  height: 20px;
  margin: 7px;
}
button[type="submit"] {
  position: relative;
  top: 74px;
  width: 150px;
  height: 40px;
  font-size: 18px;
}
ul.contactsList {
  padding: 0;
}
.contactItem {
  display: flex;
  background-color: #a6b1bf;
  padding: 10px;
  margin: 15px;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}
img.contactImage {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.75);
}
.name-wrapper {
  display: flex;
  flex-direction: column;
  height: 120px;
  margin-left: 20px;
}
p.contactLabel {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}
.name-wrapper a {
  text-decoration: none;
  margin-top: 10px;
  color: darkcyan;
}
.name-wrapper a:hover {
  color: #ffffff;
}
